@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.unauth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    flex: 1;

    padding: 0 18vw;
}

.main-title, .motto {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main-title {
    font-size: 60px;
    font-family: var(--title-fonts);
    margin-bottom: 15px;
}

.icon {
    color: #815DA5;
    width: 150px;
    margin-bottom: 50px;
    margin-top: -200px;
}

.motto {
    font-size: 30px;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 17px;
    line-height: 150%;
}

.auth {
    flex: 1;
}

.short-explaination {
    margin-left: 50px;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: 20vw;
    text-align: justify;
}

.unauth .auth-button {
    display: block;
    font-size: 14px;
    text-align: center;
    color: white;
    background: #4d75bb;
    padding: 10px;
    width: 250px;
    line-height: 100%;
    margin: 25px auto;
    border: none;
    animation: ease-out 0.7s pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media screen and (max-width: 1200px) {

    .unauth {
        padding: 0 10vw;
    }
}

@media screen and (max-width: 800px) {

    .unauth {
        padding: 0 5vw;
    }

    .main-title {
        font-size: 40px;
    }

    .info {
        flex-direction: column;
    }

    .short-explaination {
        margin: 0;
        width: 100%;
    }

    .icon {
        display: none;
    }

}