.com-progression {
    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
}

.com-progress-element.active {
    color: var(--primary-color);
    font-weight: bold;
}

.com-progress-separator {
    width: 30px;
    opacity: 0.5;
}

.com-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    .com-progression {
        padding-left: 10px;
    }

    .com-progression .com-progress-element:not(.active), .com-progression .com-progress-separator {
        display: none;
    }
}

.com-form {
    padding: 0 10vw;
}

.com-form-section {
    min-height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-title {
    font-family: var(--title-fonts);
    font-size: 50px;
    opacity: 0.8;
    width: 100%;
}

.next-button {
    transition: 0.5s ease opacity;
}

.next-button:disabled {
    opacity: 0;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    min-height: 100vh;

    padding-bottom: 200px;
}

.introduction-section .main-title, .introduction-section .motto {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.introduction-section .main-title {
    font-size: 60px;
    font-family: var(--title-fonts);
    margin-bottom: 15px;
}

.introduction-section .icon {
    color: #815DA5;
    width: 150px;
    margin-bottom: 50px;
}

.introduction-section .motto {
    font-size: 30px;
    margin-bottom: 50px;
}

.introduction-section .short-explaination {
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    text-align: justify;
}