.commission {
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commission-body {
    z-index: 1;
    position: relative;

    width: 70%;
    margin: auto;
    padding-top: 145px;
    padding-bottom: 100px;
}

@media screen and (min-width: 1700px) {
    .commission-body {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .commission-body {
        width: 90%;
    }
}

.commission-body.reduced {
    padding-top: 50px;
}

.compact-commission {
    margin-bottom: 20px;
    color: white;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(0,0,0,0.4);
    padding: 5px 10px 5px 5px;
    border-radius: 10px;

    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.compact-commission > :not(:first-child) {
    margin-left: 10px;
}

.compact-commission bde-compact-commission {
    flex: 1;
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    .compact-commission {
        flex-direction: column;
        padding: 5px;
        align-items: stretch;
    }

    .compact-commission bde-compact-commission {
        margin-bottom: 20px;
    }

    .compact-commission > :not(:first-child) {
        margin-top: 10px;
        margin-left: 0;
    }

    .commission-body.reduced {
        padding-top: 10px;
    }
}

.logo {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: solid 5px white;
    background: white;
    overflow: hidden;
}

.logo.bds {
    border-color: var(--bds-color);
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commission-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.commission-header .info {
    flex: 1;

    margin-top: 60px;
    margin-left: 35px;
}

.manage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.manage bde-icon {
    margin-right: 5px;
}

.commission-header .info .commission-name {
    font-size: 55px;
    font-family: var(--title-fonts);
    color: var(--title-color);
}

.commission-name > bde-autoresize {
    width: 100%;
    height: 55px;
}

.commission-header .headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.commission-header .headline .bds-dependant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    font-weight: bold;

    color: var(--bds-color);

    background: rgba(0,0,0,0.5);
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

.commission-header .headline .bds-dependant bde-icon {
    height: 30px;
    margin-left: 10px;
}

.commission-header .info .tags {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.commission-header .info .tags > * {
    margin: 0 5px;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    .commission-header .headline .bds-dependant .text {
        display: none;
    }

    .commission-header .headline .bds-dependant bde-icon {
        margin-left: 0;
    }
}


@media screen and (max-width: 800px) {

    .commission-body {
        padding-top: 95px;
    }

    .banner {
        height: 200px;
    }

    .commission-header {
        flex-direction: column;
        align-items: center;
    }

    .commission-header .info {
        margin: 0;
    }

    .commission-header .info .commission-name {
        text-align: center;
    }

    .commission-header .info .tags {
        justify-content: center;
    }

    .commission-header .headline {
        flex-direction: column;
    }

    .commission-header .headline > * {
        margin: 10px 0;
    }

    .commission-header .headline .bds-dependant {
        background: transparent;
    }
}

.commission-description {
    padding: 30px 0;
    text-align: center;
    font-style: italic;
}

.commission-roles {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.commission-roles > * {
    width: auto;
    margin: 10px 0;
}

.commission-meta {
    text-align: right;
    font-style: italic;
}

.commission-meta > * {
    display: inline-block;
}

.commission-meta > *:not(:last-child)::after {
    content: "-";
}

.inactive-modal {
    background: #373737;
    color: rgba(255,255,255,0.7);
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    position: relative;
}

.inactive-modal::before {
    content: "";
    opacity: 0.8;
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(135deg, #373737 -25px,#373737 0px, #747474 0px,#747474 25px);
}

.inactive-modal h3 {
    font-family: var(--title-fonts);
    font-size: 30px;
    margin: 10px 0;
}

.inactive-modal p {
    text-align: justify;
    margin-bottom: 10px;
}

.inactive-modal p:last-child{
    margin-bottom: 0;
}

.inactive-modal strong {
    font-weight: bold;
}

@media print {
    .commission-body {
        width: 90% !important;
    }

    .manage {
        display: none;
    }
}

.event {
    width: 100%;
    margin-bottom: 50px;
}

.event-desc {
    padding: 30px 5vw;
}

@media screen and (max-width: 800px) {

    .event-desc {
        padding: 30px 0;
    }

}