.manage-body {
    position: relative;
}

.com-form {
    padding: 80px 10vw;
    position: relative;
    z-index: 1;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
}

.banner > * {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.commission-header {
    display: flex;
    flex-direction: row;
}

.commission-header .rest {
    flex: 1;
    padding-left: 25px;
    height: 175px;
}

@media screen and (max-width: 800px) {
    .commission-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .commission-header .rest {
        padding-left: 0;
        width: 100%;
    }
}

.commission-header .rest > * {
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.logo {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: solid 5px white;
    background: white;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.logo > * {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
}

.logo > *:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
}

.com-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    flex-wrap: wrap;
}

.com-toolbar .btn {
    margin: 5px;
    height: 31px;
}

.com-toolbar .separator {
    flex: 1;
}

.more-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more-forms > * {
    margin: 5px;
}

@media screen and (max-width: 800px) {

    .see-com {
        display: none;
    }

}

.president-changed-modal {
    border-radius: 0;
    max-width: 600px;
}

.president-changed-modal > * {
    margin-bottom: 15px;
}

.president-changed-modal strong {
    font-weight: bold;
}

.president-changed-modal .modal-title {
    color: rgba(217, 10, 0, 0.5);
}

.president-changed-modal input {
    margin-top: 10px;
    width: 100%;
}

.president-changed-modal .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}