.markdown {
    text-align: justify;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown ul,
.markdown ol,
.markdown pre,
.markdown p{
    margin-bottom: 15px;
}

.markdown h1, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-1,
.markdown h2, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-2,
.markdown h3, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-3,
.markdown h4, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-4,
.markdown h5, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-5,
.markdown h6, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-6 {
    font-family: var(--title-fonts);
}

.markdown h1, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-1 {
    font-size: 25px;
}

.markdown h2, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-2 {
    font-size: 20px;
}

.markdown h3, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-3 {
    font-size: 18px;
}

.markdown h4, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-4 {
    font-size: 16px;
}

.markdown h5, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-5 {
    font-size: 14px;
}

.markdown h6, .CodeMirror .CodeMirror-code .CodeMirror-line .cm-header-6 {
    font-size: 11px;
}

.markdown p {
    line-height: 120%;
}

.markdown pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 15px;
    border-left: solid 5px #e6e6e6;
    line-height: 125%;
    border-radius: 3px 0 0 3px;
    margin: 50px 0;
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}

.markdown a {
    color: var(--primary-color);
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown ul,
.markdown ol {
    padding-left: 20px;
    margin-top: 5px;
}

.markdown li {
    margin-bottom: 5px;
}

.markdown ul {
    list-style-type: disc;
}

.markdown ol {
    list-style-type: decimal;
}

.markdown blockquote {
    font-style: italic;
    text-align: center;
    width: 75%;
    margin: 30px auto;
}

.markdown img {
    width: 100%;
    max-height: 500px;
    object-fit: scale-down;
}

@media screen and (max-width: 800px) {
    .markdown blockquote {
        width: 100%;
    }
}