{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Créer une commission{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/create-commission-unauth.css" %}"/>
{% endblock %}


{% block body %}
    <div class="unauth">

        <div class="icon"><bde-icon icon="ion-ios-rocket"></bde-icon></div>

        <h1 class="main-title">Crée ta commission&nbsp;!</h1>

        <p class="motto" >Tu es motivé·e&nbsp;? C'est genial&nbsp;!</p>

        <div class="info">

            <div class="auth">
                <p class="ask-auth" >Pour commencer, il suffit de te connecter avec ton compte Viacesi, clique simplement sur le bouton en dessous.</p>

                <a class="auth-button" href="/login?next={{ request.path }}">Se connecter avec Viacesi</a>
            </div>

            <p class="short-explaination">Une commission est un groupe d'étudiants du CESI qui organise des activités autour d'un thème commun.</p>

        </div>
    </div>
{% endblock %}