{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Créer une commission{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/create-commission.css" %}">
    <link rel="stylesheet" href="{% static "css/framework.css" %}">
    <link rel="stylesheet" href="{% static "css/markdown.css" %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js" ></script>
    <script src="{% static "js/create-commission.js" %}"></script>
    <script src="{% static "components/tag-selector.js" %}"></script>
    <script src="{% static "components/user-autocomplete.js" %}"></script>
    <script src="{% static "components/markdown.js" %}"></script>
    <script src="{% static "components/image-selector.js" %}"></script>
    <script src="{% static "components/tag.js" %}"></script>
{% endblock %}

{% block header %}
    <div class="com-progression" id="progression">
        <a href="#" class="com-progress-element active" data-referer="introduction-section" data-next-name="Démarrer">Introduction</a>
        <div class="com-progress-separator"><bde-icon icon="mdi-chevron-right"></bde-icon></div>
        <a href="#" class="com-progress-element" data-referer="basis-section">Bases</a>
        <div class="com-progress-separator"><bde-icon icon="mdi-chevron-right"></bde-icon></div>
        <a href="#" class="com-progress-element" data-referer="images-section">Illustration</a>
        <div class="com-progress-separator"><bde-icon icon="mdi-chevron-right"></bde-icon></div>
        <a href="#" class="com-progress-element" data-referer="members-section">Membres</a>
        <div class="com-progress-separator"><bde-icon icon="mdi-chevron-right"></bde-icon></div>
        <a href="#" class="com-progress-element" data-referer="description-section">Description</a>
        <div class="com-progress-separator"><bde-icon icon="mdi-chevron-right"></bde-icon></div>
        <a href="#" class="com-progress-element" data-referer="end-section" data-next-name="Créer ma commission" data-next-rainbow>Validation</a>
    </div>
    <div class="com-toolbar">
        <button class="btn btn-primary next-button" id="next-button"><span class="content">Démarrer</span> <bde-icon icon="mdi-chevron-right"></bde-icon></button>
    </div>
{% endblock %}

{% block body %}

    <form method="post" class="com-form" id="com-form" enctype="multipart/form-data" novalidate>

        {% csrf_token %}

        <div class="com-form-section introduction-section" id="introduction-section">

            <div class="icon"><bde-icon icon="ion-ios-rocket"></bde-icon></div>

            <h1 class="main-title">Crée ta commission&nbsp;!</h1>

            <p class="motto" >Tu es motivé·e&nbsp;? C'est génial&nbsp;!</p>

            <div class="short-explaination">
                <div class="word">Commission <em>n. f.</em> :</div>
                <div class="definitions">
                    <div class="explaination">
                        <h3>1.</h3>
                        <p>Réunion de personnes qui souhaitent être supportées et financées par le BDE pour faire ce qui leur plaît.</p>
                    </div>
                    <div class="explaination">
                        <h3>2.</h3>
                        <p>Groupe formé d'un président, d'un trésorier, d'un suppléant (optionnel) et de participants plus ou moins enthousiastes.</p>
                    </div>
                    <div class="explaination">
                        <h3>3.</h3>
                        <p>Ensemble d'adhérents donnant vie à un projet autour de sujets variés (sport, musique, jeux, raclette...).</p>
                    </div>
                </div>
            </div>

            {{ form.non_field_errors }}

        </div>

        <div class="com-form-section" id="basis-section">

            <div class="com-field-wrapper{% if form.name.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="com-field-explaination">
                    <p>Donne un nom qui claque à ta commission !</p>
                    <p>il doit être court et percutant, c'est à dire tenir en mons de 30 caractères</p>
                    <div class="com-examples">
                        <h4>Exemples</h4>
                        <ul>
                            <li>Club de plongée</li>
                            <li>Cesi-crêpes</li>
                            <li>Les Globetrotters</li>
                        </ul>
                    </div>
                    <div class="com-field-errors">
                        {{ form.name.errors }}
                    </div>
                </div>
            </div>

            <div class="com-field-wrapper{% if form.short_description.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.short_description.id_for_label }}">{{ form.short_description.label }}</label>
                    {{ form.short_description }}
                </div>
                <div class="com-field-explaination">
                    <p>La courte description est une sorte de slogan pour ta commission... Elle sera affichée sur la page d'accueil, sur la liste des commissions, etc.</p>
                    <p>Soit bref, Synthétique et créatif, tu n'as que 60 caractères !</p>
                    <div class="com-examples">
                        <h4>Exemples</h4>
                        <ul>
                            <li>Le club des adorateurs du pastafarisme</li>
                            <li>Viens t'entrainer au moulage de Sushis avec nous !</li>
                            <li>Exploration, Urbex et Barbecue entre amis</li>
                        </ul>
                    </div>
                    <div class="com-field-errors">
                        {{ form.short_description.errors }}
                    </div>
                </div>
            </div>

            <div class="com-field-wrapper{% if form.tags.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
                    {{ form.tags }}
                </div>
                <div class="com-field-explaination">
                    <p>Selectionne jusqu'à 3 Tags qui représentent ta commission. Cela permet de trier et de recommander les commissions aux autres étudiants.</p>
                    <div class="com-field-errors">
                        {{ form.tags.errors }}
                    </div>
                </div>
            </div>

        </div>


        <div class="com-form-section" id="images-section">

            <div class="com-field-wrapper{% if form.logo.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.logo.id_for_label }}">{{ form.logo.label }}</label>
                    {{ form.logo }}
                </div>
                <div class="com-field-explaination">
                    <p>Il est temps de donner à ta commission une belle apparence ! Ajoute un logo pour attirer les étudiants et représenter ta commission.</p>
                    <p>Le logo sera utilisé dans des cadres carrés et pourra être redimensionné si besoin.</p>
                    <div class="com-field-errors">
                        {{ form.logo.errors }}
                    </div>
                </div>
            </div>

            <div class="com-field-wrapper{% if form.banner.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.banner.id_for_label }}">{{ form.banner.label }}</label>
                    {{ form.banner }}
                </div>
                <div class="com-field-explaination">
                    <p>La bannière permet de donner une image plus sympathique de la page de présentation de ta commission. Elle est affichée derrière le logo.</p>
                    <p>La bannière sera utilisée dans des cadres plus larges que haut et pourrait être redimensionné si besoin.</p>
                    <div class="com-field-errors">
                        {{ form.banner.errors }}
                    </div>
                </div>
            </div>

        </div>

        <div class="com-form-section" id="members-section">

            <div class="com-field-wrapper{% if form.treasurer.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.treasurer.id_for_label }}">{{ form.treasurer.label }}</label>
                    {{ form.treasurer }}
                </div>
                <div class="com-field-explaination">
                    <p>Le trésorier est la personne en charge de la gestion du budget de la commission. C'est le trésorier qui est en charge d'estimer les coûts, de faire des demandes de financement et de communiquer avec le BDE à propos du budget et des dépenses.</p>
                    <p>Tu peux cumuler les rôles de président et de trésorier.</p>
                    <div class="com-field-errors">
                        {{ form.has_treasurer.errors }}
                        {{ form.treasurer.errors }}
                    </div>
                </div>
            </div>

            <div class="com-field-wrapper{% if form.substitute.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.substitute.id_for_label }}">{{ form.substitute.label }}</label>
                    {{ form.substitute }}
                </div>
                <div class="com-field-explaination">
                    <p>Le suppléant est le remplaçant du président lorsque ce dernier n'est pas disponible.</p>
                    <p>Le poste de suppléant est <strong>facultatif</strong>.</p>
                    <div class="com-field-errors">
                        {{ form.whant_substitute.errors }}
                        {{ form.substitute.errors }}
                    </div>
                </div>
            </div>

        </div>

        <div class="com-form-section" id="description-section">
            <div class="vertical com-field-wrapper{% if form.description.errors %} error{% endif %}">
                <div class="com-field">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                <div class="com-field-explaination">
                    <p>La description de la commission est un élément important de sa présentation. Tu peux décrire les activités, les projets, les membres, les valeurs et tout autre élément en rapport avec la commission. Cette description est la première impression que les étudiants auront de ta commission, soigne-la bien.</p>
                    <p>Tu peux formater ta description en utilisant le langage <a
                            href="https://simplemde.com/markdown-guide">Markdown</a></p>
                    <div class="com-examples">
                        <h4>Aide</h4>
                        <ul>
                            <li><code># Titre 1</code> Titre de première importance</li>
                            <li><code>## Titre 2</code> Titre de deuxième importance</li>
                            <li><code>*text*</code> En italique</li>
                            <li><code>**texte**</code> En gras</li>
                            <li>Laisse une ligne blanche pour passer un paragraphe</li>
                        </ul>
                    </div>
                    <div class="com-field-errors">
                        {{ form.description.errors }}
                    </div>
                </div>
            </div>
        </div>

        <div class="com-form-section end-section" id="end-section">

            <div class="icon"><bde-icon icon="mdi-creation"></bde-icon></div>

            <h1 class="main-title">C'est parti&nbsp;!</h1>

            <p class="short-explaination">Clique sur le bouton ci-dessous pour créer ta commission maintenant !</p>

            <button class="btn btn-rainbow">Créer ma commission <bde-icon icon="ion-ios-rocket"></bde-icon></button>

        </div>

    </form>

{% endblock %}