{% extends "layouts/dashboard_page.html" %}
{% load static %}

{% block dashboardhead %}
    <script src="{% static "components/card.js" %}"></script>
    <script src="{% static "components/event-card.js" %}"></script>
    <script src="{% static "components/shelf.js" %}"></script>
    <script src="{% static "components/timeline.js" %}"></script>
    <script src="{% static "css/markdown.css" %}"></script>
{% endblock %}

{% block content %}
        <bde-shelf class="events-shelf dashboard-section">
            <h2 slot="title" >Évenements</h2>
            {% if can_create_event %}
                <a href="/commissions/{{ com.slug }}/manage/event--create" slot="toolbar" class="btn">Nouveau <bde-icon icon="mdi-plus"></bde-icon></a>
            {% endif %}
            {% if upcoming_events %}
                {% for event in upcoming_events %}
                    <a href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}">
                        {% include "fragments/event-card.html" %}
                    </a>
                {% endfor %}
            {% else %}
                <a {% if can_create_event %}href="/commissions/{{ com.slug }}/manage/event--create"{% endif %}>
                    <bde-card class="noevent">
                        <bde-icon icon="mdi-calendar" ></bde-icon>
                        <p>Aucun événement à venir</p>
                        {% if can_create_event %}
                            <div class="btn">Créer un événement <bde-icon icon="mdi-plus"></bde-icon></div>
                        {% endif %}
                    </bde-card>
                </a>
                <bde-card class="noevent static">
                    <p>Un événement peut être et doit être n'importe quel type d'activité planifié de ta commission.</p>
                    <p>Un évenement créé sera propagé dans les calendriers des étudiants et sera affiché dans les annonces officielles</p>
                </bde-card>
            {% endif %}
        </bde-shelf>
    
        <div class="dashboard-with-aside">
            <div class="dashboard-aside-content">
        
            <div class="dashboard-section">
                <h2 class="section-title timeline-title" >Timeline</h2>
                <bde-timeline class="timeline">
                    {% for event in passed_events %}
                        <a
                                href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}"
                                timeline-date="{{ event.event_date_start | date:"c" }}"
                                timeline-id="{{ event.id }}">
                            {% include "fragments/event-card.html" %}
                        </a>
                    {% endfor %}
                </bde-timeline>
            </div>
        
            </div>
            <aside class="dashboard-aside dashboard-section">
                <h3 class="section-title">Quelques astuces</h3>
                <p>Pour bien gèrer ta commission, nous avons rédigé un <a href="/guide"><bde-icon icon="fa-solid:book"></bde-icon> guide</a> qui te donne diverses astuces et qui t'explique les différentes procédures nécéssaires au bon fonctionnement de ta commission.</p>
                <p>Voici quelques pages qui te seront peut être utiles : </p>
                <ul>
                    <li><a href="/guide/vie-asso/guide-du-createur"><bde-icon icon="fa-solid:book"></bde-icon> Guide général du créateur de commission</a></li>
                    <li><a href="/guide/vie-asso/financement"><bde-icon icon="fa-solid:book"></bde-icon> Se faire financer</a></li>
                    <li><a href="/guide/vie-asso/conseils-de-communication"><bde-icon icon="fa-solid:book"></bde-icon> Communiquer éfficacement</a></li>
                </ul>
            </aside>
        </div>
{% endblock %}