{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Gerer {{ com.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/framework.css" %}">
    <link rel="stylesheet" href="{% static "css/manage-commission.css" %}">
    <script src="{% static "components/pulse.js" %}"></script>
    <script src="{% static "components/user-autocomplete.js" %}"></script>
    <script src="{% static "components/modal.js" %}"></script>
    <script src="{% static "components/icon.js" %}"></script>
    <script src="{% static "js/edit-members-commission.js" %}"></script>
    <script src="{% static "components/tag.js" %}"></script>
    <script src="{% static "components/card.js" %}"></script>
    <script src="{% static "components/event-card.js" %}"></script>
    <script src="{% static "components/shelf.js" %}"></script>
    <script src="{% static "components/timeline.js" %}"></script>
{% endblock %}

{% block header %}
    <div class="com-toolbar">
        <a class="btn see-com" href="/commissions/{{ com.slug }}">Voir la commission</a>
        <div class="separator"></div>
    </div>
{% endblock %}

{% block body %}

    <div class="manage-body">
        <div class="banner">
            <img src="/media/{{ com.banner }}" alt="Bannière de {{ com.name }}" />
        </div>

        <div class="com-dashboard">
            <header class="commission-header">
                <div class="logo">
                    <img src="/media/{{ com.logo }}" alt="Logo de {{ com.name }}">
                </div>

                <div class="info">
                    <div class="headline">
                        <div class="tags">

                            {% if not com.is_active %}
                                <bde-tag slot="tags">Inactive</bde-tag>
                            {% endif %}

                            {% for tag in com.tags.all %}
                                <bde-tag slot="tags" color="{{ tag.color }}" >
                                    {{ tag.name }}
                                </bde-tag>
                            {% endfor %}

                        </div>
                        {% if com.organization_dependant == "bds" %}
                            <div class="bds-dependant" title="Dépendante du BDS"><span class="text">Dépendante du BDS</span><bde-icon icon="mdi-run"></bde-icon></div>
                        {% endif %}
                    </div>
                    <h1 class="commission-name"><bde-autoresize>{{ com.name }}</bde-autoresize></h1>
                </div>
            </header>

        <bde-shelf class="events-shelf dashboard-section">
            <h2 slot="title" >Évenements</h2>
            <a href="#" slot="toolbar" class="btn">Nouveau <bde-icon icon="mdi-plus"></bde-icon></a>
            {% if upcoming_events %}
                {% for event in upcoming_events %}
                    <a href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}">
                        {% include "fragments/event-card.html" %}
                    </a>
                {% endfor %}
            {% else %}
                <a href="/commissions/{{ com.slug }}/manage/events/create">
                    <bde-card class="noevent">
                        <bde-icon icon="mdi-calendar" ></bde-icon>
                        <p>Aucun événement à venir</p>
                        <div class="btn">Créer un événement <bde-icon icon="mdi-plus"></bde-icon></div>
                    </bde-card>
                </a>
                <bde-card class="noevent static">
                    <p>Un événement peut être et doit être n'importe quel type d'activité planifié de ta commission.</p>
                    <p>Un évenement créé sera propagé dans les calendriers des étudiants et sera affiché dans les annonces officielles</p>
                </bde-card>
            {% endif %}
        </bde-shelf>

        <div class="dashboard-section">
            <h2 class="section-title timeline-title" >Timeline</h2>
            <bde-timeline class="timeline">
                {% for event in passed_events %}
                    <a
                            href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}"
                            timeline-date="{{ event.event_date_start | date:"c" }}"
                            timeline-id="{{ event.id }}">
                        {% include "fragments/event-card.html" %}
                    </a>
                {% endfor %}
            </bde-timeline>
        </div>

        </div>
    </div>

{% endblock %}