{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Parcourir les commissions{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/commissions.css" %}"/>
    <script src="{% static "components/card.js" %}"></script>
    <script src="{% static "components/tag.js" %}"></script>
    <script src="{% static "components/commission-card.js" %}"></script>
{% endblock %}

{% block body %}

    <div class="commission-explaination">
        <h1>Les commissions</h1>
        <p>Une commission est un groupe d'étudiants du CESI qui organise des activités autour d'un thème commun. Il est possible de rapprocher le concept de commission du concept de club.</p>
        <p>Il y a tout de même une différence importante : une commission <em>peut</em> avoir une durée de vie limitée. Une commission peut tout autant représenter l'organisation d'un évènement étudiant qu'un club qui se retrouve chaque jeudi.</p>
        <p>Chaque étudiant du CESI peut créer une commission pour enregistrer son activité auprès du BDE. Cela permet de demander des financements et d'être suivi pour obtenir de l'aide lors de l'organisation d'évènements ou d'activités.</p>
    </div>

    <div class="commission-list">

        {% for com in commissions %}
            {% include "fragments/commission-card.html" %}
        {% endfor %}


        {% if not user.is_authenticated or perms.commissions.add_commission %}
            <bde-card class="create-commission">
                <a href="/commissions/create">
                    <div class="title">Tu ne trouves pas ce que tu cherches ?</div>
                    <span class="iconify" data-icon="mdi-creation"></span>
                    <div>Crée ta commission et sois financé !</div>
                </a>
            </bde-card>
        {% endif %}

    </div>
{% endblock %}