{% extends "layouts/base.html" %}
{% load static %}
{% load markdown %}
{% load humanize %}

{% block title %}{{ event.name }} - {{ com.name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/commission.css" %}" />
    <link rel="stylesheet" href="{% static "css/framework.css" %}" />
    <link rel="stylesheet" href="{% static "css/markdown.css" %}" />
    <script src="{% static "components/tag.js" %}"></script>
    <script src="{% static "components/card.js" %}"></script>
    <script src="{% static "components/event-card.js" %}"></script>
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ event.name }} - {{ com.name }}"/>
    <meta property="og:image" content="http://{{ request.get_host }}/media/{{ com.logo }}" />
    <meta property="og:description" content="Le {{ event.event_date_start }} {{ event.event_date_start | naturaltime }}"/>
{% endblock %}

{% block body %}
    <div class="commission">
        <div class="banner">
            <img src="/media/{{ com.banner }}" alt="Bannière de {{ com.name }}" />
        </div>

        <div class="commission-body reduced">

            <header class="commission-header">

                <div class="compact-commission">
                    {% include "fragments/compact-commission.html" %}

                    {% if can_manage %}
                        <a href="/commissions/{{ com.slug }}/manage/event-{{ event.slug }}" class="btn btn-light"><bde-icon icon="mdi-gear"></bde-icon> Gérer</a>
                    {% endif %}

                    {% if not com.is_organization %}
                        <a href="/commissions/{{ com.slug }}" class="btn btn-light">Voir la commission <bde-icon icon="mdi-chevron-right"></bde-icon></a>
                    {% endif %}

                </div>

            </header>

            <bde-event-card
    
                    class="big-title big-banner event static"
                    event-name="{{event.name}}"
                    
                        {% if event.banner %}
                            banner-src="/media/{{event.banner}}"
                        {% elif com.banner %}
                            banner-src="/media/{{com.banner}}"
                        {% endif %}
                    
                    event-start="{{event.event_date_start | date:"c" }}"
                    event-end="{{event.event_date_end | date:"c" }}"

                    >
                    


                    {% if event.has_started %}
                        <span slot="relative-time">Fin {{event.event_date_end| naturaltime | lower }}</span>
                    {% elif not event.has_ended %}
                        <span slot="relative-time">Débute {{event.event_date_start | naturaltime }}</span>
                    {% else %}
                        <span slot="relative-time">{{event.event_date_start | naturaltime }}</span>
                    {% endif %}

                    {% if event.location %}
                        <span slot="location">{{ event.location }}</span>
                    {% endif %}

                    <div slot="body" class="markdown event-desc">
                        {{ event.description | escape | markdown | safe }}
                    </div>

            </bde-event-card>

            <div class="commission-roles">

                    {% include "fragments/safe_user.html" with user=com.president role="Président·e" %}

                    {% if com.deputy is not None %}
                        {% include "fragments/safe_user.html" with user=com.deputy role="Suppléant·e" %}
                    {% endif %}

                    {% if com.treasurer_id != com.president_id %}
                        {% include "fragments/safe_user.html" with user=com.treasurer role="Trésorier·ere" %}
                    {% endif %}

            </div>

    </div>

{% endblock %}