body {
    --primary-color: #e94545;
    --secondary-color: #913749;
    --intermediate-color: #C13F47;

    --bds-color: #00a7ff;

    --on-primary-color: white;
    --on-secondary-color: white;

    --title-color: #373737;
    --text-color: #373737;

    --paragraph-fonts: 'roboto', sans-serif;
    --title-fonts: 'Roboto Slab', serif;
}