{% load humanize %}

<bde-commission-card

                banner-src="/media/{{ com.banner }}"
                logo-src="/media/{{ com.logo }}"
                commission-name="{{ com.name }}"
                href="/commissions/{{ com.slug }}"
        >

            {{ com.short_description }}
            <span slot="meta">Création : {{ com.creation_date | naturalday }}{% if not com.is_active %}, Cloture : {{ com.end_date | naturalday }}{% endif %}
            </span>

            <div slot="president">
                {% include "fragments/safe_user.html" with user=com.president role="Président·e" %}
            </div>

            {% for tag in com.tags.all %}
                <bde-tag slot="tags" color="{{ tag.color }}" >{{ tag.name }}</bde-tag>
            {% endfor %}

            {% if not com.is_active %}
                <bde-tag slot="tags">Inactive</bde-tag>
            {% endif %}

        </bde-commission-card>